
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
    
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    
</head>
<body>
    <div id="ba691bea756945f9886422a71e1a95a6" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_ba691bea756945f9886422a71e1a95a6 = echarts.init(
            document.getElementById('ba691bea756945f9886422a71e1a95a6'), 'dark', {renderer: 'canvas'});
        
        var option_ba691bea756945f9886422a71e1a95a6 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "data": [
                12,
                2,
                6,
                1,
                2,
                8,
                10,
                4,
                6,
                4,
                6,
                2,
                2,
                2,
                2,
                12,
                6,
                2,
                16,
                4,
                2,
                2,
                2,
                2
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            }
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "a",
                "alt_l",
                "backspace",
                "c",
                "ctrl_l",
                "d",
                "e",
                "enter",
                "g",
                "h",
                "i",
                "j",
                "k",
                "l",
                "m",
                "n",
                "o",
                "q",
                "space",
                "t",
                "tab",
                "u",
                "w",
                "x"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ]
};
        chart_ba691bea756945f9886422a71e1a95a6.setOption(option_ba691bea756945f9886422a71e1a95a6);
        
    </script>
</body>
</html>